#Raw data folder
raw/*


# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

#file uploading folder
file\ uploading/

#papers folder 
papers/

#RAW files 
RADseq/raw/
RADseq/metadata/
RADseq/ARCHIVE/
WGS/ARCHIVE/
WGS/figures/

#csv and text files
*.csv
*.txt
*.xlsx
*.jpg
*.pdf
*.html
SRA_upload*


#large files 
smolt_binary*
